doctype html
html(lang="ru")
    head
        include head
    body
        include menu

        .container.pt-5
            .col-md-6.offset-3
                h1 Контакты
                hr
                p
                    span На данный момент все контакты предоставляются при личной встрече.