title Pavlov Finance
meta(name="viewport" content="width=device-width, initial-scale=1")
link(href="bootstrap.css" type="text/css" rel="stylesheet")
script(src="popper.min.js")
script(src="bootstrap.min.js")