doctype html
html(lang="ru")
    head
        include head
    body
        include menu

        .container.pt-5
            .row
                .col-md-6.offset-3
                    h1 Новости
                        span
                            a.btn.btn-lg.btn-sm.btn-outline-primary.float-end.mt-2(href="https://t.me/+uWAZ771WNGIwNTFi")
                                span.me-2 открыть в
                                span.
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                                    </svg>
                    hr
            .row
                .col-md-6.offset-3
                    .card.border-primary.mb-3
                        .card-header
                            .h4.mb-0 Начнем?
                                span.float-end.fs-6.fw-lighter.mt-1 22.09.23 23:47
                        .card-body
                            .card-text.
                                Не планировал я так рано начинать публично оказывать какие-либо услуги, но всё же уже три человека пытались дать мне денег дабы я покрутил через своего торгового бота. Пусть небольшие суммы, но с ярким желанием. Видимо пора начинать? И всё же я действую с осторожностью, ведь потерять деньги торгуя на деревативах - это очень и очень просто. Но, возможно, у меня всё же есть рабочий алгоритм? Вот уже 7 лет и 3 месяца я занимаюсь этим, с разным уровнем успеха, где-то в деньгах было больно, где-то морально, вообще тяжелая штука. Но, возможно, мои десять тысяч часов уже натикали? И пора бы использовать все наработки на полную катушку? А с катушкой... в конечном итоге я пришел к тому что единственный способ действительно зарабатывать деньги, когда у тебя нет этажа аналитиков, нет инсайда и нет колокации у биржи и десятка лютых программистов математиков, единственный способ - это торговля на таймфреймах равных дню, никаких интрадеев, никаких попыток арбитража, только большие движения и большие сделки. И да, я планирую преоткрыть завесу того - а как же оно работает? У меня есть свои весьма математичные причины того почему оно работает именно так. В том числе потому что я собрал десять тысяч способов как делать не надо. И нашел только один как надо. И вроде и магии в нем нет, но маловероятно что просто с улицы можно было это понять, как минимум мне потребовалось больше семи лет. Или ещё нет? Узнаем об этом. Но в помощниках у меня теперь есть бот, который высчитал мне все торги за последние 5,5 лет, там всего 102 итоговые сделки, но хоть их было и мало - они дают свой результат. И оно подтверждено опытом, ведь по сути это компиляция знаний, но в единый алгоритм, 19 идей, группированных в трех размерностях и ещё скоро подоспеет четвертая группа, но уже этого достаточно чтобы тесты показывали прибыль достойную проделанной работы. Чтож - поехали?
