title Pavlov Finance
meta(name="viewport" content="width=device-width, initial-scale=1")
link(href="bootstrap.css" type="text/css" rel="stylesheet")
script(src="popper.min.js")
script(src="bootstrap.min.js")
link(rel="icon" type="image/svg+xml" href="favicon.svg")
link(rel="apple-touch-icon" type="image/png" sizes="192x192" href="favicon.png")
link(rel="icon" type="image/png" sizes="192x192" href="favicon.png")