doctype html
html(lang="ru")
    head
        include head
    body
        include menu

        .container
            .col-md-12.d-flex.flex-column.align-items-center.justify-content-center.p-1(style="height: 80vh")
                h1(style="font-size: 5rem") Pavlov Finance
                span.text-body-secondary Торговые алгоритмы для больших таймфреймов